$block: ".fitforce-features";

#{$block}{
  padding: 100px 0;
  @media screen and (max-width: 768px) {
    padding:0 0 50px 0;
  }
  &-header{
    position: absolute;
    right: 65px;
    top: -20px;
    @media screen and (max-width: 768px) {
      position: static;
      margin-bottom: 35px;
    }
  }
  &-row{
    @extend .flexbox;
    padding-left: 50px;
    @media screen and (max-width: 768px) {
      flex-wrap: wrap;
      padding-left: 0;
    }
    &:first-of-type{
      padding-top: 20px;
    }
  }
  &-column{
    flex: 0 1 auto;
    margin-right: 86px;
    @media screen and (max-width: 1200px) {
      width: calc(1/2*100% - (1 - 1/2)*86px);
      margin-right: 86px;
    }
    @media screen and (max-width: 768px) {
      width: 100%;
      margin-right: 0;
    }
    &:last-child{
      margin-right: 0;
      margin-top: 123px;
      @media screen and (max-width: 768px) {
        margin-top: 40px;
      }
    }
  }
}