$block: ".fitforce-intro";

#{$block}{
  position: relative;
  padding: 126px 0 182px;
  &-header{
    margin-bottom: 32px;
  }
  &-content{
    padding-right: 70px;
  }
  &-inner{
    padding-top: 39px;
  }
  &-image{
    padding-left: 55px;
  }
  &-description{
    margin-bottom: 19px;
    p{
      font-size: 22px;
      font-weight: 300;
      line-height: 1.45;
      color: #617288;
      margin-bottom: 34px;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}