$block: ".fitforce-search";

#{$block}{
  @extend .flexbox;
  @extend .align-center;
  .fitforce-form-control{
    width: 296px;
    padding: 4px 15px 4px 18px;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    color: $color3;
    @media screen and (max-width: 768px) {
      width: 150px;
      padding: 4px 32px 4px 18px;
    }
  }
}