$block: ".fitforce-";

#{$block}{
  &title-primary{
    margin: 0;
    font-size: 58px;
    font-weight: 700;
    line-height: 1.18;
    color: $color3;
    @media screen and (max-width: 768px) {
      font-size: 33px;
      line-height: 1.29;
    }
  }

  &title-secondary{
    margin: 0;
    font-size: 37px;
    font-weight: 700;
    line-height: 1.24;
    color: $color3;
    &__border{
      @extend .flexbox;
      @extend .align-center;
      position: relative;
      padding-top: 34px;
      @media screen and (max-width: 768px) {
        padding-top: 12px;
      }
      &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        height: 2px;
        width: 120px;
        background-color: $color2;
      }
    }
    @media screen and (max-width: 768px) {
      font-size: 24px;
      justify-content: flex-start !important;
    }
    &.fitforce-title-secondary__reverse{
      text-align: right;
      justify-content: flex-end;
      &.fitforce-title-secondary__border{
        &:before{
          left:inherit;
          right: 0;
          @media screen and (max-width: 768px) {
            left:0;
            right: inherit;
          }
        }
      }
    }
  }

  &sub-title{

  }

  &note-primary{

  }
  &highlighted{
    color: $color2;
  }
}


